.contairner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAP{
    width: 150px;
}

i{
    width: 50px;
    margin-top: 13px;
    font-size: 35px;
    color:rgb(241, 162, 59);
}

.btn {
    margin-right: 1em;
    margin-bottom: 1em;
    color: #c9c1b4;
}

@media (max-width: 511px) {
    .container {
        flex-direction: column;
    }
    .redes {
        text-align: center;
    }
}