<link rel="stylesheet" href="experiencia.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">


<!--creo listas no ordenadas-->
<div class="row">
    <h1> Expriencia laboral </h1>
    <div class="col-lg-12">
         <ul>
            <li><h2>Trabajo 1</h2> - 
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore esse adipisci mollitia. Dolorum consectetur amet velit id ab! Illo exercitationem enim harum. Molestiae quos voluptatibus temporibus doloribus esse facere eaque!</p>
         </ul>

         <ul>
            <li><h2>Trabajo 2</h2> - 
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore esse adipisci mollitia. Dolorum consectetur amet velit id ab! Illo exercitationem enim harum. Molestiae quos voluptatibus temporibus doloribus esse facere eaque!</p>
         </ul>

         <ul>
            <li><h2>Trabajo 3</h2> - 
                <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore esse adipisci mollitia. Dolorum consectetur amet velit id ab! Illo exercitationem enim harum. Molestiae quos voluptatibus temporibus doloribus esse facere eaque!</p>
         </ul> 

    </div>
</div>
