div{
    background-color: black;
}

section{
    background-color: black;
}

h2, label{
    color: rgb(241, 162, 59);
}

button{
    background-color: rgb(241, 162, 59);
    color: black;
}

p{
    color: antiquewhite;
}