.row {
    background-color: black;
    padding: 10px;
}

h1 { 
    color: rgb(241, 162, 59);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    font-family: 'Playfair Display', serif;
}