<div class="row">

    <h1>Hard and Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">
            Nueva Skill
         </button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="60"
        [title]="'HTML'"
        [showUnits]="false"
        [titleColor]="'orange'"
        [imageSrc]="''"
        [title]="(skill.nombre)"
        [showTitle]="true"
        [showImage]="false"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleFontSize]="'17px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-warning" routerLink="/editskill/{{skill.id}}">
                Editar </button>
            </td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)"> Borrar
              </button>
            </td>
        </div>
 
    </div>

</div>
